/* Body and Layout */
body { margin:0; padding:0; border:0; height:100%; }
body.dark {
    background-color:#333333;
    background-repeat:no-repeat;
    background-attachment:fixed;
    /* @alternate */ background-image:-moz-linear-gradient(top, #444444, #222222);
    /* @alternate */ background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    /* @alternate */ background-image:-webkit-linear-gradient(top, #444444, #222222);
    /* @alternate */ background-image:-o-linear-gradient(top, #444444, #222222);
    background-image:linear-gradient(to bottom, #444444, #222222);
}
#layout {
    position:absolute;
    top:0; left:0; right:0;
    z-index:5;
}
#hidden { display:none; }
.collapsed * { display:none; }
.west, .east, .north, .south, .center { display:inline-block; }

/* Built-in Elements */
#loading-modal .progress { margin-bottom:0; }
