/* Body and Layout */
body {
	margin:0; padding:0;
	border:0; height:100%;
    overflow:hidden;
}
#layout {
    position:absolute;
    top:0; left:0; right:0;
	overflow-x:hidden;
	overflow-y:auto;
    z-index:5;
}
#hidden { display:none; }
.collapsed * { display:none; }
.west, .east, .north, .south, .center { display:inline-block; }
.center { box-sizing:border-box; border:1px solid transparent; }
.stderr-queue {
    position:fixed; top:5%;
    left:0; width:100%;
    z-index:2000;
}
.stderr-queue li { text-align:center; }
.stderr-queue .alert {
    display:inline-block;
    margin-bottom:8px;
    max-width:80%;
    min-width:256px;
    text-align:left;
}
.stderr-queue li:nth-child(1) { opacity:0.9; }
.stderr-queue li:nth-child(2) { opacity:0.75; }
.stderr-queue li:nth-child(3) { opacity:0.6; }
.stderr-queue li:nth-child(4) { opacity:0.45; }
.stderr-queue li:nth-child(5) { opacity:0.30; }
.stderr-queue li:nth-child(n+5) { opacity:0.0; }

/* Built-in Elements */
#loading-modal .progress { margin-bottom:0; }
#mobile-warning {
    position:absolute;
    top:10%; left:10%;
    width:70%; margin:0;
    z-index:5;
}
#mobile-warning {
    -webkit-transition:opacity 0.5s ease-out;
       -moz-transition:opacity 0.5s ease-out;
         -o-transition:opacity 0.5s ease-out;
            transition:opacity 0.5s ease-out;
}
@media (max-width: 767px) {
    #layout { opacity:0; z-index:-100; }
    #loading-model { display:none; }
}
@media (min-width: 768px) {
    #mobile-warning { opacity:0; z-index:-100; }
}

/* Base Elements Styling */
fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.main-menu {
    padding:12px 18px;
    box-sizing:border-box;
}
.main-menu select {
    font-size:12px;
    width:100%; padding:2px;
    border-radius:1px;
}
.west .main-menu, .east .main-menu { width:100%; }
.north .main-menu { height:100%; }
#inner-west .main-menu,
#inner-east .main-menu { height:100%; }

.status-menu, .subwindow .modal-header { padding:12px 24px; }

.status-menu ol {
    display:inline-block;
    width:100%; margin:0;
    padding:6px 4px;
    box-sizing:border-box;
}
.status-menu li { cursor:pointer; margin:4px 0; padding:0 6px; }
.status-menu li:hover { background:rgba(255,255,255,0.1); }
.status-menu .badge {
    text-align:center;
    width:30px; height:18px;
    margin-right:6px;
    box-sizing:border-box;
}

.action-bar ul {
    float:right;
    height:24px;
    line-height:24px;
    list-style:none;
    margin:0;
}
.action-bar li, .action-bar .btn {
    display:inline-block;
    height:100%;
    line-height:100%;
}
.action-bar .title {
    margin-left:-6px;
    padding:2px 6px;
}

.subwindow {
    position:fixed !important;
    display:inline-block;
    margin:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    -webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;
}
.subwindow .collapse:not(.in) { padding:0; } 
.subwindow .modal-header { position:relative; padding:3px 10px; }
.subwindow .modal-header h3 {
    font-weight:normal; font-size:20px;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
}
.subwindow .modal-header .btn-group {
    position:absolute; top:-2px; right:-1px; height:38px;
}
.subwindow .modal-header .btn-group > .btn { height:100%; }
.subwindow .modal-header .btn-group > .btn:first-child {
    -webkit-border-top-left-radius:0;
       -moz-border-top-left-radius:0;
            border-top-left-radius:0;
}
.subwindow .modal-header .btn-group > .btn:last-child {
    -webkit-border-bottom-right-radius:0;
       -moz-border-bottom-right-radius:0;
            border-bottom-right-radius:0;
}
.subwindow .modal-body { box-sizing:border-box; }
