/* Body and Layout */
body { margin:0; padding:0; border:0; height:100%; }
body.dark {
    background-color:#333333;
    background-repeat:no-repeat;
    background-attachment:fixed;
    /* @alternate */ background-image:-moz-linear-gradient(top, #444444, #222222);
    /* @alternate */ background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    /* @alternate */ background-image:-webkit-linear-gradient(top, #444444, #222222);
    /* @alternate */ background-image:-o-linear-gradient(top, #444444, #222222);
    background-image:linear-gradient(to bottom, #444444, #222222);
}
#layout {
    position:absolute;
    top:0; left:0; right:0;
    z-index:5;
}
#hidden { display:none; }
.collapsed * { display:none; }
.west, .east, .north, .south, .center { display:inline-block; }
.stderr-queue {
    position:fixed; top:5%;
    left:0; width:100%;
    text-align:center;
}

/* Built-in Elements */
#loading-modal .progress { margin-bottom:0; }
#mobile-warning {
    position:absolute;
    top:10%; left:10%;
    width:70%; margin:0;
    z-index:5;
}
#mobile-warning {
    -webkit-transition:opacity 0.5s ease-out;
       -moz-transition:opacity 0.5s ease-out;
         -o-transition:opacity 0.5s ease-out;
            transition:opacity 0.5s ease-out;
}
@media (max-width: 767px) {
    #layout { opacity:0; z-index:-100; }
    #loading-model { display:none; }
}
@media (min-width: 768px) {
    #mobile-warning { opacity:0; z-index:-100; }
}
