/* Basic container styling */
.video-container video { width:100%; display:block; }
.video-container .navbar { margin-bottom:0; }
.video-container .navbar-inner { border-radius:0; padding-right:6px; }
.video-group { width:100%; overflow:auto; }

/* Video-group styling */
.video-group .video-container { display:inline-block; }
.video-group .video-container .navbar-inner {
    min-height:24px;
    padding-left:6px;
}
.video-group .video-container .brand {
    font-size:18px;
    margin-left:-6px;
    padding:2px 6px;
}
.video-group .video-container .divider-vertical { height:24px; }
.video-group .video-container .btn { padding:0 6px; margin-top:0; }
.video-group .video-container li > a { padding:2px 6px; }

/* Region-specific styling */
.west  > .video-conatiner.big,
.east  > .video-container.big { width:100%; }
.north > .video-group { overflow-y:hidden; height:100%; }
.west  > .video-group { overflow-x:hidden; }
.north > .video-group .video-container { width:14.2%; }
.west  > .video-group .video-container { width:50%; }

#inner-east .video-container.big { max-height:50%; position:relative; }
#inner-east .video-container.big:not(.feedback) { z-index:200; }
#inner-east .video-container.big video { max-height:100%; }
#inner-center .video-container.big {
    position:absolute; z-index:300;
    right:0; bottom:0; width:25%;
}
#inner-center .video-group { height:100%; }
#inner-center .video-group .video-container {
    height:33.3%; width:auto; max-width:50%;
}

/* Responsive Styling */
@media (max-width: 1199px) {
    /* Normal screens */
    .video-container { min-width:182px; }
    .video-container .navbar-inner {
        min-height:24px;
        padding-left:6px;
    }
    .video-container .brand {
        font-size:18px;
        margin-left:-6px;
        padding:2px 6px;
    }
    .video-container .divider-vertical { height:24px; }
    .video-container .btn { padding:0 6px; margin-top:0; }
    .video-container li > a { padding:2px 6px; }
}
@media (min-width: 1200px) {
    /* HD Screens */
    .video-container .navbar-inner {
        padding-left:12px;
        padding-right:6px;
    }   
    .video-container .brand {
        margin-left:-12px;
        padding:10px 12px;
    }
    
}
