/** Base Styles **/
body.dark {
    background-color:#252a30;
    color:#999999;
    font-family:'Droid Sans',sans-serif;
    font-size:14px;
    line-height:20px;
}
body.dark .west, body.dark .north,
body.dark .east, body.dark .south { box-sizing:border-box; }
body.dark .west { border-right:1px solid #333; }
body.dark .east { border-left:1px solid #333; }
body.dark .north { border-bottom:1px solid #333; }
body.dark .south { border-top:1px solid #333; }
body.dark .pane {
    background-color:#121417;
    border-radius:0;
}
body.dark .center > .pane { background-color:inherit; }
body.dark .well {
    background-color:rgba(255,255,255,0.05);
    border:1px solid #030303;
    border-top:solid 1px #2f2f2f;
    border-radius:1px;
    box-shadow:0 2px 4px rgba(0,0,0,0.8);
    box-sizing:border-box;
}
body.dark .modal { color:#2a2a2a; }

body.dark .subwindow {
    background:#e9e9e9;
    border-color:#252525;
}
body.dark .dropdown-menu {
    background-color:#121417;
    border:1px solid #333;
    border-radius:1px;
}
body.dark .dropdown-menu a { color:#33a6d1; }
body.dark .dropdown-menu a:hover {
    color:#ffffff;
    background:#33a6d1;
}

body.dark .status-list .badge .tooltip-arrow { border-bottom-color:#999999; }
body.dark .status-list .badge .tooltip-inner { background-color:#999999; }
body.dark .status-list .badge-info .tooltip-arrow { border-bottom-color:#3a87ad; }
body.dark .status-list .badge-info .tooltip-inner { background-color:#3a87ad; }
body.dark .status-list .badge-warning .tooltip-arrow { border-bottom-color:#f89406; }
body.dark .status-list .badge-warning .tooltip-inner { background-color:#f89406; }
body.dark .status-list .badge-success .tooltip-arrow { border-bottom-color:#468847; }
body.dark .status-list .badge-success .tooltip-inner { background-color:#468847; }

/** Form Styles **/
body.dark legend, body.dark label { border-bottom:0 solid #222222; }
body.dark select, body.dark input[type="text"], body.dark textarea {
    color:#222222;
    background-color:#cccccc;
    border:1px solid #bbbbbb;
}
body.dark .btn {
    text-shadow:none;
    color:#ffffff;
    background-color:#191919;
    background-image:linear-gradient(to bottom,#333333,#191919);
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
body.dark .btn-primary {
    color:#ffffff;
    background-color:#33a6d1;
    background-image:linear-gradient(to bottom,#33b5e5,#2b97bd);
}
body.dark .btn-success {
    color:#ffffff;
    background-color:#5bb75b;
    background-image:linear-gradient(to bottom,#62c462,#51a351);
}
body.dark .btn-danger {
    color:#ffffff;
    background-color:#da4f49;
    background-image:linear-gradient(to bottom, #ee5f5b, #bd362f);
}
body.dark .btn .caret {
    border-top: 4px solid #ffffff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
body.dark .btn:hover { background:#191919; }
body.dark .btn-primary:hover { background:#2b97bd; }
body.dark .btn-success:hover { background:#51a351; }
body.dark .btn-danger:hover { background:#bd372f; }
body.dark .btn-group.open .btn.dropdown-toggle { background-color:#333333; }

/** Module Styling */
body.dark .chat-announcement { color:#52707a; }
body.dark .video-container.feedback {
    border:1px solid #252525;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
}
